body {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
#yellow-crystal,
#green-crystal ,
#red-crystal,
#blue-crystal{
width: 100px;
height: 100px;
}

.card-body {
font-size: 15px;
}
} */



/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */


/* #title-box {
    background-color: peru;
    font-size: 220%;
    width: 250px;
    height: 50px;
    color: white;
}

#game-rules {
    width: 500px;
    background: lightgoldenrodyellow;
    font-size: 150%;
}

#randomBox {
    background: lightgreen;
    width: 200px;
    height: 200px;
    font-size: 400%;
}



.score-wins {
    
    font-size: 100%;
}

#scoreBox {
    
    width: 200px;
    height: 110px;;
    background: lightskyblue;
    font-size: 200%;
}

.score-count {
    width: 300px;
    
    background: lightseagreen;
    font-size: 700%;
}

#crystal-box {
    
    width: 700px;
}

button {
    
    font-size: 80%;
} */
